/* nav related styless */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 200px; */
    margin-left: 200px;
    margin-right: 200px;
    
}
.nav-title{

}
.text-primaray{
    color: #fd6e0a;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
  border-radius: 5px;
  background-color: #fd6e0a;
  border: 0;
  /* padding: 5px; */
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  padding: 15px 35px;
}
.header-container{
    background-color:#FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size:600px ;
   
 
}
.banner{
    padding: 30px 30px 0px  150px;
    display: flex;
    align-items: center;
}
.pp-picture{
    width: 260px;
    margin-left: 160px;

}
.banner-container{

}
.banner-greeting{
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 45px;
margin-bottom: 0px;
justify-content: space-between;


}
.banner-title{
    

font-size: 85px;

font-weight: 700;
margin-top: 5px;

}
.banner-discription{
    margin-top: 20px;
    width: 585px;

}