*{
    margin: 0;
    padding: 0;
}
.full-nav-container{
    background-color: rgb(8, 7, 7);
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.items{
    margin-right: 20px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}
.logo2{
    width: 150px;
    padding: 10px;
    
}
.full-banner{
    /* background-color:rgb(61, 60, 60) ; */
    background-image: url(./images/background.png),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
    color: white;
}
.poster-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    
    
}

.adnan{
    margin-top: 50px;
   width:320px ;
   margin-left: 90px;
   margin-bottom: 130px;
   border: 5px solid yellow;
   border-radius: 50% ;
   
  
   /* padding: 16px; */

}
.span01{
    color: brown;
}
.text{
    font-size: 30px;
}
.about-me-full{
    background-color:rgb(0, 0, 0) ;
    color: white;

}
.about-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    /* height: 100vh; */
    
    
}
.adnan2{
    width: 300px;
    padding-left: 30px;
    /* height: 300px; */
    /* border: 1px solid wheat; */
   margin-right: 80px;
    
}
.text-about{
    margin-right: 30px;
    /* margin-left: 50px; */
}
.text-about2{
   text-align:center;
}
.text-about3{
    margin-top: 12px;
}
.footer-container{
    background-color: #2e2e2e;
    color: white;
    height:55vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    
   
    
    

}  
.logo-input-p{
    align-items: center;
    padding: 100px;
    
}
.img-logo{
    width: 35px;
    margin-right: 30px;
    /* padding-top:20px ; */
}
/* .logo-input-p{
    display: flex;
    justify-content: center;
} */
.input-input{
margin-left: 50px;
padding-top: 20px;

}
.copyright{
    padding-top: 20px;
    margin-left: 70px;
    
}

    


