
.banner-container{
    background-image: url(./images/PJ-3/banner2.png);
    width: 1600px;
height: 809px;
display: flex;
justify-content: flex-end;
align-items: center;






}
.title{
    color: var(--dark-01, #151414);

font-family: Work Sans;
font-size: 65px;
font-style: normal;
display: flex;
width: 525px;
flex-direction: column;




}
.discription{
    color: var(--dark-02, #444343);

font-family: Work Sans;
font-size: 16px;
font-style: normal;
margin-top: 24px;
display: flex;
width: 494px;
flex-direction: column;


}
.btn{
    width: 160px;
height: 64px;
border-radius: 5px;
background: #F15B22;
border: none;
color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 20px;

}
.banner-title{
    margin-right: 230px;
}
.failer-container{
    display: flex;
    justify-content:space-around;
    
}

.img-women{
    width: 451px;
height: 598px;
padding-top: 140px;

}
.failer-t{
    display: flex;
width: 288px;
color: var(--dark-01, #151414);
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.failer-title{
    margin-top: 270px;
    margin-right: 20px;
    /* margin-right: 87px; */
}
.failer-discription{
    display: flex;
width: 416px;
flex-direction: column;
flex-shrink: 0;
color: var(--dark-02, #444343);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
ul > li{
    color: var(--dark-02, #444343);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.icons-header{
    display: flex;
    justify-content:space-around;

}
.icons{
    /* margin-right: 218px; */
    text-align: center;
   
}
.plan-h3{
    color: var(--dark-01, #151414);
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
}
.plans-container{

}
.pp{
    width: 92.958px;
height: 92.958px;


}
.icon-text{
    color: var(--dark-01, #151414);
text-align: center;
font-family: Work Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.image-container{
    background-image: url(./images/PJ-3/watch.png);
    background-repeat: no-repeat;
    width: 1140px;
height: 300px;
margin-top:50px ;
}
