/* nav related styless */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 200px; */
    margin-left: 200px;
    margin-right: 200px;
    
}
.nav-title{
    color: #181818;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.text-primaray{
    color: #fd6e0a;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
  border-radius: 5px;
  background-color: #fd6e0a;
  border: 0;
  /* padding: 5px; */
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  padding: 15px 35px;
}
.header-container{
    background-color:#FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size:600px ;

    
   
 
   
 
}
.banner{
    padding: 30px 30px 0px  150px;
    display: flex;
    align-items: center;
}
.pp-picture{
    width: 260px;
    margin-left: 160px;

}

.banner-greeting{
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 45px;
margin-bottom: 0px;
justify-content: space-between;


}
.banner-title{
    

font-size: 85px;

font-weight: 700;
margin-top: 5px;

}
.banner-discription{
    margin-top: 20px;
    width: 585px;

}

.section-title{
    color:  #181818;
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section-discription{
    color: var(--dark-03, #757575);
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
 main{
    /* margin: 230px;
    background-color: #FFF8F3;
    border-radius: 10px; */
    max-width: 1140px;
    
    margin: 0 auto; 
     /* align-items: center; */
} 
.about-container{
    background-color: #FFF8F3;
    padding: 100px;
    margin: 130px;

}
.info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.btn-primary01{
    border-radius: 5px;
    background-color: #fd6e0a;
    border: 0;
    /* padding: 5px; */
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    padding: 15px 35px;
    margin-left: 13px;
}
.section-discription01{
    color: var(--dark-03, #757575);
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 150px;
padding-right: 150px;
}