
.banner-container{
    background-image: url(./images/PJ-3/banner2.png);
    /* width: 1600px;
height: 809px; */
width: 1600px;
height: 809px;

display: flex;
justify-content: flex-end;
align-items: center;






}
.title{
    color: var(--dark-01, #151414);

font-family: Work Sans;
font-size: 65px;
font-style: normal;
display: flex;
width: 525px;
flex-direction: column;




}
.discription{
    color: var(--dark-02, #444343);

font-family: Work Sans;
font-size: 16px;
font-style: normal;
margin-top: 24px;
display: flex;
width: 494px;
flex-direction: column;


}
.btn{
    width: 160px;
height: 64px;
border-radius: 5px;
background: #F15B22;
border: none;
color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 20px;

}
.banner-title{
    margin-right: 230px;
}
.failer-container{
    display: flex;
    justify-content:space-around;
    
}

.img-women{
    width: 451px;
height: 598px;
padding-top: 140px;

}
.failer-t{
    display: flex;
width: 288px;
color: var(--dark-01, #151414);
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.failer-title{
    margin-top: 270px;
    margin-right: 20px;
    /* margin-right: 87px; */
}
.failer-discription{
    display: flex;
width: 416px;
flex-direction: column;
flex-shrink: 0;
color: var(--dark-02, #444343);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
ul > li{
    color: var(--dark-02, #444343);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.icons-header{
    display: flex;
    justify-content:space-around;

}
.icons{
    /* margin-right: 218px; */
    text-align: center;
   
}
.plan-h3{
    color: var(--dark-01, #151414);
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
}

.pp{
    width: 92.958px;
height: 92.958px;


}
.icon-text{
    color: var(--dark-01, #151414);
text-align: center;
font-family: Work Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.image-container{
    background-image: url(./images/PJ-3/watch.png);
    background-repeat: no-repeat;
    width: 1140px;
height: 300px;
margin-top:50px ;
margin-left: 230px;
margin-right: 230px;

border-radius: 8px;
   /* background-image:linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%);
    */
   




}
.image-text{
    display: flex;
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 459px;

    

}
.text-image{
    flex-direction: column;
padding-left: 65px;
}
.btn-img{
    width: 160px;
height: 64px;

border-radius: 5px;
background: #FFF;
color: #F15B22;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
border: none;
cursor: pointer;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    color: #F8F8F8;
    margin-top: 100px;
    /* margin-bottom: 130px; */
    align-items: center;
}
.footer-discription{
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    display: flex;
width: 485px;
flex-direction: column;
flex-shrink: 0;




}
footer{
    background-color: #151414;
   
height: 577px;

    
}
.footer-logo{
    width: 175px;
height: 46px;
flex-shrink: 0;
}

.subscribe{
    color: #FFF;
font-family: Work Sans;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.footer-input{
    width: 325px;
height: 64px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #FFF;
background: var(--dark-01, #151414);
text-align: center;

}
.btn-footer{
    border-radius: 8px;
background: #FFF;
width: 170.106px;
height: 64px;
flex-shrink: 0;
color: #F15B22;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 15px;

}
.footer-h3{
    color: #F8F8F8;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.footer-logo{
    margin-left: 5px;
    margin-top: 5px;
}
