*{
    margin: 0;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    align-items: center;
}
.menu{
    list-style: none;
    display: flex;
   

}
.menu li{
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}
.banner-container{
        background-image: url(./images/pj-4/background.jpg),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;

        background-blend-mode: overlay;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        

        }
        .text-banner h2{
            font-size: 50px;
        }
        .span01{
            color: red;
        }
        .text-banner{
            text-align: center;
        }
        .text-banner p{
            display: flex;
            width: 450px;
        }
        .btn-banner{
            border-radius: 20px;
            color: white;
            padding: 12px 20px;
            border: none;
            background-color: red;
            margin-left: 8px;
            margin-top: 10px;

        }
        .item{
            width: 70px;
          
        }
        .service-container{
             background-color: gray;
            color: rgb(13, 13, 13);
            display: flex;
            justify-content: space-around;
            height: 100vh;
            align-items: center;
            padding:20px;
           
        }
        .box{
            background-color: white;
            height: 100px;
            width: 150px;
            padding: 40px;
            border-radius: 5px;
            text-align: center;
          

        }
        .first-two-box{
            display: flex;
            gap: 5px;
            /* margin top important */
            margin-top: 5px; 
           

        }
        .btn-banner01{
            border-radius: 20px;
            color: white;
            padding: 12px 20px;
            border: none;
            background-color: red;
            margin-left: 5px;
            margin-top: 10px;
          

        }
        .service-pic{
            display: flex;
            align-items: center;
            margin: 9px;
        }
        .btn-service{
            border-radius: 20px;
            color: white;
            padding: 12px 20px;
            border: none;
            background-color: red;
            margin-left: 8px;

        }
        .img-service{
            width: 70px;
            height: 70px;
            border-radius:35px;
            margin-right: 15px;
        }
        .service-h2{
            margin-top: 10px;
        }
        .card-img{
            /* div vitor img tag re jokhon width 100% korbo tahole akber fised hoyr jabe */
            width: 100%;
            border-radius: 5px;
            
        }
        .items{
            display: flex;
            /* justify-content: center; */
            justify-content:center;
          

            

        }
        .card-container{
            /* width: 80%; */
            margin: auto;
            align-items: center;
            background-color: gray;
            /* background-image: url(./images/pj-4/footer-bg.png),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)); */
            height: 100vh;
        
         

        }
        .item1{
            width: 250px;
            height: 350px;
            /* background-color: teal; */
            box-shadow: 4px 8px 4px rgb(201, 174, 174);
            border-radius: 5px;
            gap: 10px;
            align-items: center;
            margin: 15px;

        }
        .card-title{
            margin-top:10px ;
            margin-bottom: 10px;
        }
        .card-title01{
            /* align-items: center; */
            text-align: center;
            margin-bottom: 25px;
        }
       .h1-card{
        text-align: center;
        font-size: 45px;
       }
       