*{
    margin: 0;
}
.nav-container{
    display: flex;
    background-color: rgb(130, 128, 128);
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 13px;
    /* align-items: center; */
    font-size: 17px;
   
}
.banner-container{
    height: 100vh;
background-image: url(./images/PJ-3/background.jpg);
background-repeat: none;
background-size: cover; 
display: flex;
align-items: center;
text-align: center;


}
.span{
    color: red;
}
.title{
    font-size: 55px;
    font-weight: bold;
    
}
.discription{
    width: 50%;
    margin: auto;
}
.btn{
    padding: 12px 20px;
    color: white;
    background-color:red;
    border: none;
    margin-top: 20px;
    margin: 10px;
}
.service-container{
    height: 100vh;
  
    background-image: url(./images/PJ-3/footer-bg.png);
    
    background-repeat: none;
    background-size: cover; 
    display: flex;
    /* align-items: center;
    text-align: center; */
}
.img{
    width: 150px;
    height: 100px;
    padding: 50px;
    /* text-align: center; */
    border-radius: 5px;
}
.img-author{
    border-radius: 50%;
}
.appointment-container{
    display: flex;
    justify-content: space-around;
}