.container{
    border: 3px solid blue;
    display: flex;
    /* justify-content:space-around; */
    /* justify-content: center;
    justify-content: space-around;
    justify-content: space-between; */
    height: 400px;
    /* align-items: center;  */
    /* flex-direction: column; */
    flex-wrap: wrap;
}



.box{
    height: 100px;
    width: 100px;
    border: 2px dashed red;
   
}
