nav a{
    text-decoration: none;
    color: black;
    font-size: 27px;
    /* display: flex; */

}
nav{
    display: flex;
    justify-content: space-between;
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    border: 2px solid tomato;

}
.login-form input{
    margin-top: 20px;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    height: 90vh;
}