.calender{
    display: grid;
    grid-template-columns:repeat(7,1fr);
    row-gap: 20px;
    column-gap: 10px;
    
}
.date, .day{
    background-color:skyblue;
    /* border: 6px solid rgb(186, 186, 8); */
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.day{
    background-color: lightgray;
    font-size: 1em;
}
