*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    font-size: 17px;
  
}
.anchor01{
    
    margin-right: 25px;
    color: white;

    
}
.anchor01:hover{
    color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 5px;
    /* border: none; */
    padding: 5px;
}
.banner01{
    height: 100vh;
    background-image: url(../images/pj-6/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
    padding-top: 20px;
    align-items: center;
   


}
.bannerr{
    display:flex ;
    justify-content: center;
    /* margin-right: 100px; */
    margin-top: 180px;
    margin-right: 350px;
}
.span-nav{
    color: blueviolet;
}
.banner-h1{
    font-size: 100px;
    color: blueviolet;
}
.banner-h4{
    font-size: 30px;
}
.banner-h2{
    padding-bottom: 10px;
}
.banner-dis{
    padding-bottom: 20px;
}
.btn-banner{
    background-color: blueviolet;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}
.btn-banner:hover{
    box-shadow: 5px 8px 7px rebeccapurple;

}

.nav-h2{
    font-size: 40px;
    margin-left: 39px;
}
.about-container{
    padding: 100px;
    display: flex;
    justify-content: space-around;
}
.author{
    width: 350px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 5px 7px 17px blueviolet;
}
.author:hover{
    z-index: 1;
box-shadow: 0 8px 50px rgba (0,0,0, 0.2);
transform: scale(1.05);
}



.about-text{
    padding-left: 50px;
    display: flex;
    justify-content: center;align-items: center;
}
.about{
    background-color: gray;
   
}
.about-h3{
    font-size: 60px;
    padding-bottom: 10px;
   
   
   
}

.btn-about{
    background-color: blueviolet;
    padding: 10px;
    
    text-align: center;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 20px;

}
.btn-about:hover{
    box-shadow: 5px 8px 7px rebeccapurple;

}

.about-h2{
    margin-bottom: 10px;
    cursor: pointer;
}
.box-main{
    display: flex;
    justify-content:space-around;
}
.service{
    /* background-color: black; */
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-image: url(../images/pj-6/background.png),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
}
.box{
    /* padding: 5px; */
    align-items: center;
    text-align: center;
    border: 2px solid gray;
    /* border: none; */
    border-radius: 10px;
    height: 350px;
    width: 300px;
    background-color: gray;
    color: black;
    box-shadow: 5px 7px 17px blueviolet;
   

 
}
.box:hover{
    z-index: 1;
box-shadow: 0 8px 50px rgba (0,0,0, 0.2);
transform: scale(1.05);

}



.box-main{
    /* gap: 5px; */
    padding: 40px;
    /* margin-top: 90px; */
    align-items: center;
   
    
    
}
.service-h1{
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
   
}
.btn-service{
    background-color: blueviolet;
    padding: 10px;
    
    text-align: center;
    border-radius: 5px;
    border: none;
    color: rgb(10, 10, 10);
    cursor: pointer;
    margin-top: 40px;
}
.service-dis{
    font-style: italic;
    margin-top: 30px;
}
.service-h3{
    font-size: 20px;
    margin-top: 10px;
}

.btn-service:hover{
    box-shadow: 5px 8px 7px rebeccapurple;

}
.project-img{
    width: 300px;
    height: 200px;
}
.project-main-box{
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
margin-top: 50px;

}

.project-container{
    color: white;
    background-color: black;
   /* height: 100vh; */
  padding-bottom: 60px;
}
.project-h1{
    font-size: 35px;
   text-align: center;
   padding-top: 20px;
}
.project-box{
    margin: 15px;
    box-shadow: 2px 8px 7px rebeccapurple;
    border-radius: 10px;
}
.project-img{
    border-radius: 10px;
   

    
}
.project-img:hover{
    z-index: 1;
    box-shadow: 0 8px 50px rgba (0,0,0, 0.2);
    transform: scale(1.05);
}


.footer-container{
    /* display: flex;
    justify-content: space-around; */
}

.footer-logo-main{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
footer{
    background-color: gray;
    height: 50vh;
}
.footer-text{
    
    align-items: center;
}
.footer-logo{
    margin-left: 20px;
    /* margin-top: 20px; */
    
}
.footer-img{
    cursor: pointer;
    width: 40px;
}
.footer-h1{
    /* margin-left: 150px; */
    text-align: center;

}
.column{
    align-items: center;
   
    
}
.inputt{
    align-items: center;
    margin-top: 10px;

}
.input-inner{
    margin-top: 10px;
    border: 0;
    padding: 8px;
    padding-right: 80px;
    border-radius: 10px;
    
   
    color: black;
    margin-left: 41%;
   
}
.footer-submit{
    align-items: center;
    margin-left: 48%;
    padding: 10px;
   
    box-shadow: 2px 8px 7px rebeccapurple;
    border-radius: 10px;
    border: 0;
    margin-top: 10px;
    background-color: blueviolet;
    cursor: pointer;
}