*{
    margin: 0;
    padding: 0;
}


header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
   
}
nav li{
     margin-right: 30px;
     list-style: none;
    
}
nav li a{
    text-decoration: none;
   color:#424242;
   font-family: Work Sans;
font-size: 18px;
}
.title-nav{
    font-size: 35px;
    color: #131313;
    font-family: Work Sans;
}
/* banner section */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-family: Work Sans;
font-size: 64px;
}
.banner-discription{
    color:  #727272;
    font-family: Work Sans;
font-size: 16px;
}
.btn-primary{
    margin-top: 10px;
    border-radius: 8px;
background: #FF900E;
width: 130px;
height: 50px;
border: none;
color: white;

}
.banner img{
    width: 100%;
    /* padding-top: 20px; */
    margin-top: 20px;

}
.banner{
    margin-top: 60px;
    
}




/* teams section */
main{
max-width: 1440px;
margin: 0 auto;
    
}
.teams-container{
    display: flex;
   align-items: center;
   /* margin: 70px auto; */
    
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
    gap: 1.5rem;
    border-radius: 8px;
  
}
.teams-img-container img{
    width: 100%;
    
}

.text-container{
   
    padding-left: 50px;
    padding-right: 50px;
    
}
.team-p{
   color:  #727272;
   font-family: Work Sans;
font-size: 1rem;
width: 500px;
}
.team-h3{
    color: #727272;
font-family: Work Sans;
font-size: 2.8rem;
}
.one{
    color: var(--dark-01, #131313);
}
.two{
    color: #FF900E;
}

/* feature section */
.feature{
    margin-top: 130px;
    
    margin-left: 100px;
    margin-right: 100px;
}
.feature-container{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.feature-container img{
    height:700px;
    /* padding-right: 100px; */
    
   
}
.box{
    border-radius: 8px;
    gap: 20px;
    padding: 30px;
    margin-bottom: 20px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-h1{
    color:#131313;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;

}
.feature-p{
    color:#727272;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;

}
.feature-h3{
    color:  #131313;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.feature-discription{
    color:  #727272;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;

}
.btn-feature{
    border-radius: 8px;
background: #FF900E;
width: 242px;
border: none;
color: white;
height: 100px;
flex-shrink: 0;
position: relative;
bottom: 60px;
right: 30px;

}
.btn-feature h4{
    font-size: 25px;
}











/* facts section */
.primary-text{
  
color: var(--dark-01, #131313);
font-family: Work Sans;
font-size: 2.8rem;
font-style: normal;
font-weight: 700;
}
.primary-discription{
    color:#727272;
font-family: Work Sans;
font-size: 1rem;
width: 542px;
}
.primary-text, .primary-discription{
    padding-left: 240px;
}
.facts-container{
    padding-top: 50px;
    padding-bottom: 50px;
   
}




.card{
    border-radius: 8px;
border: 1px solid #FF900E;
width: 201.831px;
height: 201.831px;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;



}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.card-title{
    font-weight: 600;
}
.carrd-stats{
    font-size: 2.8rem;
    color: #424242;
}

/* sponser section */
.sponser-container{
    margin-top: 150px;
}
.sponser-img{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}
.sponser-heading{
   
    justify-content: center;
    text-align: center;
}
.sponser-text{
    color: var(--dark-01, #131313);
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
}
.sponser-discription{
    color: var(--dark-03, #727272);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
padding-top: 10px;

}
.sponser-img img{
    width: 165.833px;
height: 50px;
flex-shrink: 0;
}




/* footer */
footer{
    margin-top: 130px;
    margin-bottom:130px ;
   background-color: #FFF4E7;
/* margin-left: 100px;
   margin-right: 100px; */
   height: 100px;
   text-align: center;
  
   
   

}






/* responsive media query */
/* mobile */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
       
    }
    nav,
     .teams-container,
     .facts-card-container,
     .sponser-img,
     .feature-container
     {
        flex-direction: column;
    }
    .facts-card-container{
        padding-left: 100px;
        padding-right: 100px;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
        margin-left:0 auto ;
    }
    .text-container{
   
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
        
    }
    .feature-second-coloum img{
        width: 100%;
        height: 100%;
    }
    .btn-feature{
        position: static;
        max-width:300px ;
    }
    .primary-text{
        padding-left: 100px;
    }
    .primary-discription{
        padding-left: 20px;
        
    }
   
    .facts-card-container{
        padding:auto;
    }
    .sponser-img{
       padding: 100px;
       gap: 20px;
    }
    
    
}
/* medium responsible */
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    nav, .teams-container{
        flex-direction: column;
    }
    
}
