*{
    margin: 0;
    padding: 0;
}


header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
   
}
nav li{
     margin-right: 30px;
     list-style: none;
    
}
nav li a{
    text-decoration: none;
   color:#424242;
   font-family: Work Sans;
font-size: 18px;
}
.title-nav{
    font-size: 35px;
    color: #131313;
    font-family: Work Sans;
}
/* banner section */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-family: Work Sans;
font-size: 64px;
}
.banner-discription{
    color:  #727272;
    font-family: Work Sans;
font-size: 16px;
}
.btn-primary{
    margin-top: 10px;
    border-radius: 8px;
background: #FF900E;
width: 130px;
height: 50px;
border: none;
color: white;

}
.banner img{
    width: 100%;
    /* padding-top: 20px; */
    margin-top: 20px;

}
.banner{
    margin-top: 60px;
    
}




/* teams section */
main{
max-width: 1440px;
margin: 0 auto;
    
}
.teams-container{
    display: flex;
   align-items: center;
   /* margin: 70px auto; */
    
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
    gap: 1.5rem;
    border-radius: 8px;
}
.text-container{
   
    padding-left: 50px;
    padding-right: 50px;
    
}
.team-p{
   color:  #727272;
   font-family: Work Sans;
font-size: 1rem;
width: 500px;
}
.team-h3{
    color: #727272;
font-family: Work Sans;
font-size: 2.8rem;
}
.one{
    color: var(--dark-01, #131313);
}
.two{
    color: #FF900E;
}

/*  */








/* responsive media query */
/* mobile */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
       
    }
    nav,
     .teams-container{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
        margin-left:0 auto ;
    }
    .text-container{
   
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
        
    }
    
    
}
/* medium responsible */
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    nav, .teams-container{
        flex-direction: column;
    }
    
}
