p{
    color: turquoise;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    


}
li{
    color: rgb(47, 26, 167);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    list-style:none;
}