.prob{
   border: 3px solid blue;
   /* padding-top: 3px; */
   padding: 20px;
   margin: 20px;
  
}
.box{
   border: 3px solid gray;
   /* padding: 5px; */
   /* text-align: center; */
   /* width: 100px;
   height: 80px; */
   padding-top: 0%;
   padding-right: 30px;
   padding-bottom: 40px;
   padding-left: 4em;
}